---
import type { GetStaticPaths } from "astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { useAstroBase } from "@/utils/useAstroBase";
import { getCollection, render } from "astro:content";
import { getImage, Image, Picture } from "astro:assets";
import tf2logo from "@/assets/tf2-logo.png";
import kofi from "@/assets/kofi.webp";

const optimizedKofi = await getImage({
  src: kofi,
  widths: [174, 288],
  format: undefined,
});

export const getStaticPaths = (async () => {
  const servers = await getCollection("servers");
  return servers.map((sv) => {
    return {
      params: { server: sv.data.name },
      props: { sv },
    };
  });
}) satisfies GetStaticPaths;

const { sv } = Astro.props;
---

<MainLayout>
  <Fragment slot="main-body">
    <div class="mx-auto grid min-h-screen place-items-center md:container">
      <section class="">
        <div class="typography">
          <center>
            <h1>
              <Picture
                alt={``}
                widths={[36, 48, 72]}
                src={tf2logo}
                class="inline-block max-w-[var(--text-5xl)]"
              />dariussp's 24/7 6s pub
            </h1>
            <h2>{sv.data.name.toUpperCase()}: {sv.data.country}</h2>
          </center>
          <div
            class="mx-[var(--text-5xl)] mt-[var(--text-2xl)] grid grid-cols-3 gap-[var(--text-3xl)]">
            <div>
              <h3>Useful Commands</h3>
              <ul>
                <li>
                  <b>/pingplayers</b> - Ping discord members to join the server
                </li>
                <li><b>/votekick</b> - Kick 'em salty soldiers!</li>
                <li>
                  <b>/votemap</b> - Change the map while the game is still running
                </li>
                <li>
                  <b>/discord</b> - Print our discord's server invite link
                </li>
                <li><b>/kofi</b> - Support the server</li>
              </ul>
            </div>
            <div>
              <h3>Are you new to the 6s format?</h3>
              <p>
                <a href="https://discord.gg/Qn6sr6nVcp" class="discord-channel"
                  >Visit the #learning-resources channel on our Discord</a
                >. The only classes allowed on the server are <b>Scout</b>, <b
                  >Soldier</b
                >, <b>Demoman</b> and <b>Medic</b>. You can find the whitelisted
                (<i>and blacklisted</i>) items <a
                  href="https://whitelist.tf/rgl_whitelist_6s"
                  class="underline"><b>here</b></a
                >
              </p>
            </div>
            <div>
              <h3>Useful links</h3>
              <div class="flex flex-col items-stretch gap-[var(--text-base)]">
                <div class="">
                  <p class="">Copy the server connect by clicking below</p>
                  <button
                    class="steam-server-connect-button w-full"
                    onclick={`navigator.clipboard.writeText("connect ${sv.data.ip}")`}
                    ><code>connect {sv.data.ip}</code></button
                  >
                </div>
                <div class="-mt-[0.5rem]">
                  <p class="">
                    Get the <span class="discord-channel bg-[#eeb400]"
                      >@notify-games</span
                    > role
                  </p>
                  <a
                    href="https://discord.com/invite/DwAq9srYZJ"
                    class="discord-button mt-[0.25rem] block w-full text-center"
                    >Join the discord</a
                  >
                </div>
                <a
                  class="block aspect-[652/131] w-full bg-contain bg-no-repeat"
                  href="https://ko-fi.com/dariussp/tiers"
                  style={{
                    "background-image": `url(${optimizedKofi.src})`,
                  }}></a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </Fragment>
</MainLayout>
